html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0 auto 0 auto;
    font-family: "Work Sans", helvetica, arial, sans-serif;
    max-width: 1200px;
}

.container {
    display: flex;
    flex-direction: column;
}

#header {
    margin-top: 3em;
    padding: 1em 1em 1em 0;
    text-align: center;
}

#nav-bar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 1200px;
    display: flex;
}

#nav-bar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

main {
    padding: 1em;
    background-color: #F7F8FA;
}

main h1 {
    text-align: center;
}

main h2 {
    margin-bottom: 0.5em;
}

main article {
    margin-bottom: 3em;
}

input[type=email]{
    padding: 1em 2em;
    margin: 4px 2px;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #472485;
    border: none;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#preview {
    text-align: center;
}

#subscribe {
    text-align: center;
}

#programs {
    text-align: center;

}

#programs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#programs-container ul {
    text-align: left;
}

@media only screen and (max-width: 680px) {
    #programs-container {
        flex-wrap: wrap;
    }

    #video {
        width: 100%;
    }
}