/*** Global Styles ***
=======================*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0 auto 0 auto;
    font-family: "Work Sans", helvetica, arial, sans-serif;
    max-width: 1200px;
}

h1, h2 {
    text-transform: uppercase;
}

li, p {
    line-height: 1.5em;
}

.container > * {
    padding: 20px;
}

.container {
    color: #2F3040;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* Header and Footer
====================*/
header {
    background: white;
    color: #282461;
    grid-column: 1 / 13;
    grid-row: 1 / 1;
    margin: 80px auto auto auto;
}

header a {
    text-decoration: none;
    color: #282461;
}

header a:visited {
    color: #282461;
}

footer {
    background-color: #615424;
    grid-column: 1 / 13;
    color: white;
    height: 5vh;
    grid-row: 4 / 4;
}

footer a {
    color: white;
}

/* Main and Aside
====================*/
main {
    background-color: #F7F8FA;
    grid-column: 1 / 11;
}

main h2, main h3 {
    color: #282461;
}

h3 {
    margin-top: 2em;
}

.date {
    font-size: 0.75em;
}

aside {
    background-color: #613524;
    color: white;
    grid-column: 11 / 13;
}

aside h2 {
    color: #F7F8FA;
}

main, aside {
    grid-row: 2 / 3;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.project-tile {
    padding: 1em;
    text-align: center;
    background-color: #282461;
    text-decoration: none;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tile img {
    margin-bottom: 1em;
}

.project-tile img {
    margin-top: 1em;
}

.project-tile:first-child {
    margin-left: 0;
}


/* Navigation
====================*/
nav {
    background-color: #282461;
    color: white;
    text-align: right;
}

nav a, aside a {
    color: white;
}

nav h2 {
    color: #F7F8FA;
}

#navbar {
    position: fixed;
    top: 0;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
#navbar a {
    text-decoration: none;
    padding-left: 2em;
}

/*** Mobile Styles ***
======================*/
@media all and (max-width: 480px) {
    html {
        font-size: 75%;
    }

    .container > * {
        padding: 20px;
    }

    .project-tile {
        width: 100%;
    }
}

@media all and (max-width: 623px) {
    html {
        font-size: 85%;
    }

    main {
        grid-row: 2 / 2;
        grid-column: 1 / 13;
    }

    aside {
        grid-row: 3 / 3;
        grid-column: 1 /13;
    }

    .project-container {
        grid-template-columns: 1fr;
    }

    #navbar {
    width: 100%;
    }
}

/*** Tablet Styles ***
======================*/
@media all and (min-width: 624px) and (max-width: 963px) {
    html {
      font-size: 85%;
    }
  
    main {
        grid-row: 2 / 2;
        grid-column: 1 /13;
    }

    aside {
        grid-row: 3 / 3;
        grid-column: 1 /13;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2em;
        grid-column-gap: 3em;
    }

    .project-tile {
        padding: auto 0 auto 0;
    }

    .project-tile-image {
        flex: 1 1 auto;
    }

    .project-tile-text {
        flex: 0 0 auto;
    }

    #navbar {
      width: 100%;
    }
  }

/*** Desktop Styles ***
======================*/
@media all and (min-width: 964px) and (max-width: 1200px) {
    html {
      font-size: 100%;
    }
  
    #navbar {
      width: 100%;
    }
  }