/* Global Styles
====================*/
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  
  h1, h2 {
    text-transform: uppercase;
  }
  
  /* Header and Footer
  ====================*/
  header {
    background: white;
    color: white;
    flex: 1 0 100%;
    order: 1;
  }
  
  footer {
    background: #282461;
    color: white;
    flex: 1 0 100%;
    order: 5;
  }
  
  footer a {
    color: white;
  }
  
  
  /* Container and Main
  ====================*/
  .container > * {
    padding: 20px;
  }
  
  .container {
    color: #2F3040;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    max-width: 880px;
    margin: auto;
  }
  
  main {
    background: #F7F8FA;
    flex: 1 1 500px;
    order: 3;
    line-height: 1.5
  }

  .mini-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
  }

  .first-column {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-top: 0.5em;
  }

  .question {
      font-weight: bold;
  }
  
  fieldset {
      margin-bottom: 1em;
      padding: 0 1.25em 0.4em 1.25em;
      line-height: 1.75em;
  }

  input[type=submit] {
    background-color: #472485;
    border: none;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  .form-input {
    padding: 1em 2em;
    margin: auto 2px;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;

  }

  .form-input, select {
    width: 55%;
  }


  #title {
    font-size: 1.5em;
  }

  .section-title {
    font-size: 1.25em;
    margin-top: 1.25em;
    margin-bottom: 0.33em;
  }

  @media only screen and (max-width: 580px) {
    .mini-grid {
      grid-template-columns: 1fr;
    }

    .form-input, select {
      width: 55%;
      margin-top: -1em;
    }
  }