/* Global Styles
====================*/
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  
  h1, h2 {
    text-transform: uppercase;
  }
  
  /* Header and Footer
  ====================*/
  header {
    background: white;
    color: white;
    flex: 1 0 100%;
    order: 1;
  }
  
  footer {
    background: #282461;
    color: white;
    flex: 1 0 100%;
    order: 5;
  }
  
  footer a {
    color: white;
  }
  
  
  /* Container and Main
  ====================*/
  .container > * {
    padding: 20px;
  }
  
  .container {
    color: #2F3040;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    max-width: 880px;
    margin: auto;
  }
  
  main {
    background: #F7F8FA;
    flex: 1 1 500px;
    order: 3;
    line-height: 1.5
  }

  .mini-grid {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(0, 1fr));
  }

  .first-column {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .question {
      font-weight: bold;
  }
  
  fieldset {
      margin-bottom: 1em;
      padding: 0 1.25em 0.4em 1.25em;
      line-height: 1.75em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }